@model InvestCarWeb.Models.Leilao


<div class='form-group'>
    <label asp-for='Descricao' class='control-label'></label>
    <input asp-for='Descricao' class='form-control' />
    <span asp-validation-for='Descricao' class='text-danger'></span>
</div>

<div class='form-group'>
    <label asp-for='Data' class='control-label'></label>
    <input asp-for='Data' class='form-control' />
    <span asp-validation-for='Data' class='text-danger'></span>
</div>

<div class='form-group'>
    <label asp-for='TaxaAvaliacao' class='control-label'></label>
    <input asp-for='TaxaAvaliacao' class='form-control' />
    <span asp-validation-for='TaxaAvaliacao' class='text-danger'></span>
</div>

<div class='form-group'>
    <label asp-for='TaxaVenda' class='control-label'></label>
    <input asp-for='TaxaVenda' class='form-control' />
    <span asp-validation-for='TaxaVenda' class='text-danger'></span>
</div>

<div class="form-group">
    <label asp-for="LeiloeiroId" class="control-label">Leiloeiro</label>
    <select asp-for="LeiloeiroId" class="form-control" asp-items="ViewBag.leiloeiros"></select>
</div>
